.list-device {
  margin-top: 50px;
  background: #ffffff;
  
  @media screen and (max-width: 1024px) {
    padding: 0;
    margin-top: 0;
  }
  
  .list-device-content {
    padding: 1em;
    .list-device-title {
      margin-bottom: 25px;
      span {
        color: rgba(0, 0, 0, .25);
        font-size: 1.4rem;
        font-weight: 500;
        font-family: helvetica;
      }
    }
    .list-device-form-content {
      form {
        .form-label {
          color: rgba(0, 0, 0, .5);
          font-size: 1.2rem;
          font-family: helvetica;
        }
        
        .informative-text {
          margin-top: 5px;
          margin-bottom: 5px;
          span {
            font-size: .7rem;
            color: rgba(0, 0, 0, .2);
          }
          
        }
        
        .customed-button {
          text-align: right;
          
        }
        
        .warning-input {
          border: 1px solid #e20000;
          
          &::placeholder {
            color: #e20000;
          }
        }
        
        .warning-text {
          margin-top: 5px;
          span {
            color: #e20000;
            font-size: 1rem;
            font-family: helvetica;
          }
        }
      }
    }
  }
}